@page "/login"
@using ClassLibraryModel;
@using ClassLibraryDAL;
<h3>Login</h3>
<EditForm Model="user" OnSubmit="SaveRegisterUser" method="POST">
    <label>Username: </label>
    <input type="text" placeholder="Username" @bind-value="user.UserName" required />
    <label>Contact</label>
    <input type="number" @bind-value="user.Phone" required />
    <label>Password: </label>
    <input type="password" @bind-value="user.Password" required />
    <label>Email</label>
    <input type="email" @bind-value="user.EmailAddress" required />
    <button type="submit">Login</button>
</EditForm>
<p>Don't have an account? <a href="register/@userId">Register!</a></p>
@msg
@code {
    private User user { get; set; } = new User();
    private Guid userId { get; set; }
    private string? msg { get; set; }
    private void SaveRegisterUser()
    {
        int i = UserDAL.SaveRegisterUser(user);
        if (i == 1)
        {
            msg = "User Registered Successfully";
        }
        else
        {
            msg = "Error Registering User...";
        }
    }
}
