@inherits LayoutComponentBase

<PageTitle>Blogify</PageTitle>

<div class="page">
    <main>
        <div class="top-row px-4">
            <a href="login">Login/Register</a>
            <a href="addblog"> Add a Blog (+) </a> @*Will only be accessible after the user logs-in*@
        </div>
        @Body
    </main>
</div>
